<mat-toolbar color="primary"> 
  <mat-toolbar-row>
    <button mat-icon-button="">
     <mat-icon>menu</mat-icon>
    </button>
   <mat-menu menu="matMenu">
     <button mat-menu-item="">
        <span>Link1</span>
     </button>
      <button mat-menu-item="">
        <span>Link2</span>
      </button>
      <button mat-menu-item="">
        <span>Link3</span>
      </button>
   </mat-menu>
   <button>Menu1</button>
   <button >Menu2</button>
   <button>Menu3</button>
  </mat-toolbar-row> 
</mat-toolbar>